@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Great+Vibes&family=Kaushan+Script&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

.header{
  background-image: url(../multimedia/imagenes/logo.JPG);
  background-repeat: no-repeat;
  height: 130px;
  background-color: white;
}
/*.nav--menu{
  
  padding-right:20%;
 text-align: center;
  
}*/

.nav__list {
  display: flex;
  
}

.nav__item {
  color:  black;
  padding: 8px 16px;
}

.nav__item:hover {
  color:  orange;
  }

.contacto {
  text-transform: uppercase;
  background-color: orange;
  color: orange;
  border-radius: 8px;
  font-weight: bold;
}

.contacto:hover {
  color: orange;
  border: 2px solid orange;
  /*background-color: white;*/
  padding: 6px 14px;
}

.focus__nav {
  color: orange;
  font-weight: 600;
}

body{
  background-color: #f5e3d1;
  /*height: 800vh;*/
}

/*Fondo sobre mi*/
.index__hero {
  height: 200px;
 /*background-image: url(../multimedia/imagenes/fondo.jpg);*/
  background-repeat: no-repeat;    
  background-position:right;
  background-size: cover;
  filter: sepia(.3);
  display: flex;
      justify-content:center;
      align-items:center;
      
}

.hero--h2 {
  color: white;
}

#menu ul li {
  background-color:white;
  border-style: solid; /*prueba de borde*/
  border-color: antiquewhite;  
  list-style:none;
  float:right;
}
#menu  {
 
  float:right;
  font-family: 'GFS Didot', serif;
  font-family: 'Great Vibes', cursive;
  font-family: 'Kaushan Script', cursive;
}





/**************************************/
/*.seccion1{
padding: 100px 50px 150px 100px;
height: 50px;
width: 800px;
text-align: justify;
}*/
.seccion1 {
  width: 80%;
  margin: 2em auto;
}
.s1_inicio {
  margin: 4em 0;
  display: flex;
  align-items: center;
}

 /*.seccion2{
  margin: 100px 50px 150px 100px;
  height: 500px;
  width: 1200px;
  text-align: center; 
  }*/
  .S2_reverse {
    flex-direction: row-reverse;
      filter: sepia(.3);
}
.inicio--txt{
  padding: 6em;
}
 /* .foto {
    background-image: url(../multimedia/imagenes/nancy.png);
    background-repeat: no-repeat;
    margin-left: 600px;
    width: 700px;
    height: 600px;  }

 */
 .seccion3{
  margin: 300px 50px 150px 100px;  
  height: 500px;
  width: 1200px;
  text-align: center;}

  
  .fotoRecetas
  {
    background-image: url(../multimedia/imagenes/recetas.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 600px;
  }
  .seccion4{
    margin: 300px 50px 150px 100px;
    
    height: 500px;
    width: 1200px;
    text-align: center;}

    .seccion5{
     
     background-color:#db9224;
      height: 400px auto;
   
      text-align: center;}

h1{
  font-family: 'GFS Didot', serif;
  font-family: 'Great Vibes', cursive;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size:500%;

}

 


p{
  font-style: italic;
  font-size: 20px;
  text-align: justify;
  line-height: 1;
  word-spacing:5px;
}
/*a{ text-decoration:underline;}*/
h2{
  padding-top: 20px;
  font-weight: bold;
  color:black;
  margin-left: 100px;
  font-family: 'GFS Didot', serif;
  font-family: 'Great Vibes', cursive;
  font-family: 'Kaushan Script', cursive;
  
}


.redessociales{
  display: inline;
  width: 2%;
  height: 2%;
  margin-left: 200px;
  
}

.fondo {
  background-image: url("https://images.unsplash.com/photo-1620503292890-c597f62cce8d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNwbGFzaHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
     
  
    }
   
    table {
      border: 3px solid;
      text-align: center;
      margin-left: 200px;
     }
    
    th {
      background-color:#db9224;
      border: 1px solid;
      text-align: center;
   
     }
    
     tr, td {
      border: 1px solid;
      text-align: center;
      
     }
    form
    {
margin-left: 200px;
font-family: 'GFS Didot', serif;
  font-family: 'Great Vibes', cursive;
  font-family: 'Kaushan Script', cursive;
  word-spacing:5px;
    }
    
    .sobremi{
      margin-left: 200px;
      width: 1200px;
      height: 600px;
      text-align: center;    
      background-repeat: no-repeat;
        
    }
.sobremi:hover{
  transform:rotatex(10deg);    
}
    /************ FOOTER******* */
.footer {
  padding: 1em 4em;
  background-color: gainsboro;
  display: flex;
      justify-content: space-between;
   align-items: center; 
}

.title__footer {
  text-align: center;
  padding: 0.5em 0;
  border-bottom: 1px solid orange;
}

iframe,
.footer ul {
  padding: 1em;
  list-style-type: none;
}

.footer ul i{
  padding: 0.5em;
  font-size: 1.5rem;
  color: #db9224;
  
}

footer li:hover {
  color: orange;
}

.paraTransicion:hover {
 
  transition: 3s;
  font-size: 3rem;
}
 /************fin de FOOTER******* */

  /* ***Whatsapp ****/
.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
    font-size: 30px;
	box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color: #fff;
}

.my-float{
	margin-top: 16px;
}
/***************fin de whapsapp****************/
   /***********configuración de página de imagenes**********/
.fondoRecetas{
  
              background-color: #db9224;
              width: 80%;
              margin: auto;
              height: auto;
              padding: 2%;
              display: grid;
              grid-column-gap: 20px;
              grid-row-gap: 20px;
}
.item{
  min-height: 200px;
  min-width: 200px;
  background-color: aqua;
  border: 2px solid #fff;
}
.item:hover{
  transform: scale(1.2);
  transition: 0.7s;
  /*filter: sepia(1);*/
 box-shadow: 5px 5px 10px 1px #000;
/*            box-shadow: eje-x eje-y blur/desenfoque spread/propagacion #color;*/
}

.item1{
  grid-area: "item1";
  background-color: coral;
  background-image: url(../multimedia/imagenes/Alfajores\ de\ Maicenas.jpg);
  background-size: cover;
  background-position: center;
}
.item2{
  grid-area: "item2";
  background-color: cadetblue;
  background-image: url(../multimedia/imagenes/budin.jpg);
  background-size: cover;
}
.item3{
  grid-area: "item3";
  background-color: fuchsia;
  background-image: url(../multimedia/imagenes/Cupcakes.jpg);
  background-size: cover;
  background-position:center;
}
.item4{
  grid-area: "item4";
  background-color: forestgreen;
  background-image: url(../multimedia/imagenes/torta.jpg);
  background-size: cover;
  background-position:bottom;
}
.item5{
  grid-area: "item5";
  background-color: firebrick;
  background-image: url(../multimedia/imagenes/Biscochuelo.jpg);
  background-size: cover;
}
.item6{
  grid-area: "item6";
  background-color: dodgerblue;
  background-image: url(../multimedia/imagenes/tarta.jpg);
  background-size: cover;
  background-position: center;
}
.item7{
  grid-area: "item7";
  background-color: deeppink;
  background-image: url(../multimedia/imagenes/galletitas.jpg);
  background-size: cover;
}
.item8{
  grid-area: "item8";
  background-color: darkviolet;
  background-image: url(../multimedia/imagenes/galletiras\ con\ dulce\ de\ leche.jpg);
  background-size: cover;
  background-position:center;
}



/*        las medidas estandares de dispositivos son 320px 480px 600px 768px 1024px 1200px*/        
@media only screen and (min-width: 360px) {
.fondoRecetas {
  background-color: #000000;
}
}
@media only screen and (min-width: 480px) {
.fondoRecetas {
  background-color: #f03c3c;
}
}
@media only screen and (min-width: 480px) {
.fondoRecetas {
  background-color: #6cf03c;
  grid-template-columns: 1fr 1fr;
  
}
  .item{
    min-height: 150px;
    min-width: 150px;
  }
}

@media only screen and (min-width: 600px) {
.fondoRecetas {
  background-color: #3caef0;
}
}
@media only screen and (min-width: 768px) {
.fondoRecetas {
background-color: #ba3cf0;
grid-template-columns: 1fr 1fr 1fr;
}
  .item1{
      grid-row-start: 1;
      grid-row-end: 3;
  }
  .item4{
      grid-row-start: 2;
      grid-row-end: 4;
  }
  .item2{
      grid-column-start: 2;
      grid-column-end: 4;
      background-position: center;
  }
  .item8{
      grid-column-start: 2;
      grid-column-end: 4;
  }
}
@media only screen and (min-width: 1024px) {
.fondoRecetas {
  background-color: #3cf0cf;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
  .item2{
      grid-column-start: 2;
      grid-column-end: 3;
  }
  .item3{
      grid-column-start: 3;
      grid-column-end: 5;
  }
  .item8{
      grid-column-start: 3;
      grid-column-end: 5;
  }
}
@media only screen and (min-width: 1200px) {
.fondoRecetas {
  background-color: #db9224;
}
}
/*Se termina la configuración de galeria de imágenes de recetas*/